*{
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
    color: #424146;
}
li{
    list-style: none;
    display: flex;
}
a{
    text-decoration: none;
}
header{
    background-color: #f6f6f6;
    padding: 22px 0;
}
#menu-checkbox{
    display: none;
}
.header-container{
    width: 85%;
    display: flex;
    justify-content: space-between;
}
.header-container a{
    color: black;
    padding: 27px 10px 30px 10px;
    margin-left: 20px;
    text-transform: uppercase;
}
ul{
    display: flex;
}
.header-container a:hover{
    background-color: #ffea00;
}
nav{
    margin-top: 20px;
}
main{
    background-color: #f6f6f6;
}
.top-slide{
    background: url(./images/slider_bg.jpg);
    padding-top: 120px;
    padding-bottom: 300px;
}
.top-container{
    width: 85%;
    margin:0 auto;    
}
.top-slide h2{
    background: #ffea00;
    color: black;
    display: inline;
    font-size: 70px;
    text-transform: uppercase;
    padding: 0 13px;
    font-weight: 100;
}
.top-container :nth-child(2){
    margin-bottom: 10px;
}
.top-slide div p{
    background: #414146;
    display: inline;
    font-size: 24px;
    color: white;
    padding: 0 7px;
}
.specialize-container{
    width: 80%;
    margin: 0 auto;
    text-align: center;
    padding-top: 90px;
    padding-bottom: 10px;
}
.specialize-container h2{
    font-size: 35px;
    text-transform: uppercase;
    margin-bottom: 28px;
    font-weight: 100;
}
.specialize-container p{
    margin-bottom: 65px;
    font-size: 24px;
    font-weight: 600;
}

.bottom-card{
    position: relative;
    top: -80px;
    background: #414146;
    height: 80px;
}
.card:first-child p{
    font-size: 20px;
}
.bottom-card p{
    color: white;
    font-size: 13px;
    margin-bottom: 0;
    padding: 17px;
    text-align: left;
}
.specialize-card{
    display: flex;
    justify-content: space-between;
}
.portfolio{
    width: 90%;
    margin: 0 auto;
    text-align: center;
    font-size: 16px;
    min-height: 600px;
}
.portfolio h4{
    background-color: #414146;
    color: #ffea00;
    display: inline-block;
    padding: 5px 30px;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 100;
    margin-bottom: 30px;
}
.toggles{
    margin: 25px auto 36px auto;
}
.toggles button{
    border: none;
    cursor: pointer;
    background: none;
    text-transform: uppercase;
}
.toggles button:after{
    content: ' /'
}
.toggles button:last-child::after{
    content: none;
}
.posts{
    width: 90%;
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin: 0 auto;
}
.post img{
    max-width: 200px;
}







@media screen and ( max-width: 420px){
    .header-container{
        width: 100%;
        justify-content: space-around;
    }
    .main-menu{
        display: none;
    }
    .main-menu li{
        width: 100%;
        display: block;
        font-size: 12px;
    }
    .main-menu a{
        display: block;
        padding: 8px;
    }
    .toggle-button{
        text-align: center;
        cursor: pointer;
        display: block;
        color: black;
        margin-top: 20px;
    }
    .toggle-button:after{/* создает псевдоэлемент после класса, единственный потомок этого элеметна*/
        content: attr(data-open);/*content - создает элемент; attr() - извлекает значение выбранного атрибута*/
        text-transform: uppercase;
        display: block;
    }
    #menu-checkbox:checked + nav[role='navigation'] .main-menu{
         /*применяется к скрытым чекбоксам с динамич значениями*/
        display: block;
    }
    #menu-checkbox:checked + nav[role='navigation'] .toggle-button:after{
       content: attr(data-close);
       text-transform: uppercase;
   }
   .header-container a{
       margin-right: -65px;
   }
   .main-menu{
       position: relative;
       top: 30px;
       right: 85px;
   }
}